{# templates/cailloux/flore.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste de la Flore{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Flore.liste_flores{% endtrans %}</h1>

        {% if flore is not empty %}
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>{% trans %}Transversal.image{% endtrans %}</th>
                        <th>{% trans %}Transversal.Commentaire{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in flore %}
                        <tr>
                            <td><img src={{ f.image }} width=20% height=20%></img></td>
                            <td>{{ f.commentaire }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans %}Flore.aucune_flore{% endtrans %}</p>
        {% endif %}
    </div>
{% endblock %} 