{% extends 'base.html.twig' %}

{% block title %}Marque page ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Votre marque page à bien été enregistré ! ✅</h1>
    <a href="http://localhost:8000/marque/page"> Retour à la liste des mots clés</a>
    <a href="http://localhost:8000/marque/ajout"> Ajouter un marque page</a>
</div>

{% endblock %}