{% extends 'base.html.twig' %}

{% block title %}Marque page ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans %}MarqueP.marqueP_enregistre{% endtrans %} ! ✅</h1>
    <a href="http://localhost:8000/{{_locale}}/marque">{% trans %}MarqueP.retour_marqueP{% endtrans %}</a><br>
    <a href="http://localhost:8000/{{_locale}}/marque/ajout">{% trans %}Accueil.MarqueP.ajouter_marque_page{% endtrans %}</a>
</div>

{% endblock %}