{% extends 'base.html.twig' %}

{% block title %}Liste des URL{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des URL</h1>

        {% if marquesP is not empty %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>URL</th>
                        <th>Année de création</th>
                        <th>Commentaire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mp in marquesP %}
                        <tr>
                            <td>{{ mp.id }}</td>
                            <td>{{ mp.url }}</td>
                            <td>{{ mp.dateCreation | date("d/m/Y") }}</td>
                            <td>{{ mp.commentaire }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucune URL trouvé.</p>
        {% endif %}
    </div>
{% endblock %} 