{% extends 'base.html.twig' %}

{% block title %}Mot Clé ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans %}MotCle.marqueP_enregistre{% endtrans %} ! ✅</h1>
    <a href="http://localhost:8000/{{_locale}}/marque/motcle">{% trans %}MarqueP.retour_marqueP{% endtrans %}</a>
</div>

{% endblock %}