{% extends 'base.html.twig' %}

{% block title %}Ajouter un mot clé{% endblock %}

{% block stylesheets %}
    <style>
        .form-group {
            margin-bottom: 20px;
        }

        h5{
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Accueil.Mot_Cle{% endtrans %}</h1>

        {{ form_start(form) }}
        
        <div class="form-group">
            <h5>{% trans %}Transversal.libelle{% endtrans %}</h5>
            {{ form_widget(form.Libelle, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.Valider, {'attr': {'class': 'btn'}}) }}
        </div>
        
        {{ form_end(form) }}
        

    </div>
{% endblock %}
