{% extends 'base.html.twig' %}

{% block title %}Mot Clé ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Votre mot clé à bien été enregistré ! ✅</h1>
    <a href="http://localhost:8000/marque/motcle"> Retour à la liste des marques pages</a>
</div>

{% endblock %}