{% extends 'base.html.twig' %}

{% block title %}Livre ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Votre livre à bien été enregistré ! ✅</h1>
    <a href="http://localhost:8000/livre"> Retour à la liste des livres</a>
</div>

{% endblock %}