{% extends 'base.html.twig' %}

{% block title %}Livre ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans %}Livre.livre_enregistre{% endtrans %} ! ✅</h1>
    <a href="http://localhost:8000/{{_locale}}/livre">{% trans %}Livre.retour_livre{% endtrans %}</a>
</div>

{% endblock %}