{% extends 'base.html.twig' %}

{% block title %}Auteur ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans %}Auteur.auteur_enregistre{% endtrans %}! ✅</h1>
    <a href="http://localhost:8000/{{_locale}}/auteur"> {% trans %}Auteur.retour_auteur{% endtrans %}</a>
</div>

{% endblock %}