{% extends 'base.html.twig' %}

{% block title %}Auteur ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Votre auteur à bien été enregistré ! ✅</h1>
    <a href="http://localhost:8000/auteur"> Retour à la liste des auteurs</a>
</div>

{% endblock %}