/* styles.css */
body {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin-top: 20px;
}

.container {
    background: #fff;
    padding: 20px;
    margin-bottom: 3vw;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.2rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.btn-ajouter {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-ajouter:hover {
    background-color: #0056b3;
}

.table {
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-custom thead th {
    background-color: #007bff;
    color: white;
}

.table-custom tbody td {
    background-color: #fff;
    color: #333;
}

.table-custom tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table-custom tbody tr:hover {
    background-color: #e2e2e2;
}

.table-custom th, .table-custom td {
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.table-custom th {
    letter-spacing: 1px;
}

.alert-custom {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    padding: 0.75rem 1.25rem;
    border-radius: 4px;
    margin-top: 20px;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.card-text{
    margin-bottom: 0;
}

.card-text, .btn{
    margin-left: 1vw;
    margin-right: 1vw;
}

@media (max-width: 576px) {
    .table-custom {
        display: block;
        overflow-x: auto;
    }
}


/* FORMULAIRE */

#livre {
    width: 300px;
    margin: 0 auto;
}

#livre div {
    margin-bottom: 15px;
}

#livre label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

#livre input[type="text"],
#livre input[type="number"],
#livre select {
    width: 10vw;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#livre select {
    width: 100px;
}

#livre button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#livre button[type="submit"]:hover {
    background-color: #45a049;
}

#auteur {
    width: 300px;
    margin: 0 auto;
}

#auteur div {
    margin-bottom: 15px;
}

#auteur label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

#auteur input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#auteur button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#auteur button[type="submit"]:hover {
    background-color: #45a049;
}
