{% extends 'base.html.twig' %}

{% block title %}Ajouter un Employé{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<div class="container">
    <h1>Employé</h1>

    {{ form(form) }}


</div>

{% endblock %}