{% extends 'base.html.twig' %}

{% block title %}Employé ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans %}Employe.employe_enregistre{% endtrans %} ! ✅</h1>
    <a href="http://localhost:8000/{{_locale}}/employe">{% trans %}Employe.retour_employe{% endtrans %}</a>
</div>

{% endblock %}