{% extends 'base.html.twig' %}

{% block title %}Employé ajouté{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Votre employé à bien été enregistré ! ✅</h1>
    <a href="http://localhost:8000/employe"> Retour à la liste des employés</a>
</div>

{% endblock %}